* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(200deg, #315e85, #1e9aa1, #fff);
    color: #222;
    transition: 0.4s ease;
}


nav {
    background: linear-gradient(200deg, #0c5ba0, #09595e, #0c5ba0);
    height: 60px;
    width: 98.2%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#themeIcon {
    border-radius: 50%;
    padding: 0.2rem;
    font-size: 2rem;
    cursor: pointer;
}


.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameContainer {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease;
}


.scoreContainer {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    padding: 0.5rem 5rem;
    border-radius: 1rem;
}

.Images {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.Images img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#gameBtn {
    padding: 0.5rem 10rem;
    border-radius: 1rem;
    border: none;
    transition: 0.6s;
    background: #222;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#gameBtn:hover {
    background-color: rgb(31, 197, 191);
    color: black;
    transform: scale(1.05);
}

.box {
    background: linear-gradient(200deg, #315e85, #1e9aa1);
    padding: 1rem;
    border-radius: 1rem;
    height: 5vh;
    width: 3vw;
}

body.dark {
    background: linear-gradient(135deg, #1f2023, #16191d);
    color: #00c6ff;
}

body.dark .icons {
    color: white
}

body.dark nav {
    background: #080606;
    color: #fff;
}

body.dark .gameContainer {
    background: #080606;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
    color: #00c6ff;
}

body.dark .scoreContainer {
    background-color: black;
}

body.dark .box {
    background: linear-gradient(200deg, #315e85, #1e9aa1);
}

body.dark .gameBtn{
    background-color: #00c6ff;
}